<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tambah Data Pelanggan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2 class="mb-4">Tambah Data Pelanggan</h2>
    <form action="/add-pelanggan" class="btn btn-primary mb-3" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label>ID Pelanggan :</label>
            <input type="text" name="id_pelanggan" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Nama Pelanggan :</label>
            <input type="text" name="nama_pelanggan" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Alamat Pelanggan :</label>
            <input type="text" name="alamat_pelanggan" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>No Hp :</label>
            <input type="number" name="no_hp" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Foto :</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>

        <button type="submit" class="btn btn-success">Simpan</button>
        <a href="/pelanggan" class="btn btn-secondary">Kembali</a>
    </form>
</body>
</html>